body {
  .menu-call {
    background-color: white;
    width: 320px;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(400px);
    border-left: 1px solid turquoise;
    .btn-menu-call-close {
      width: 40px;
      height: 40px;
      border: none;
      background-color: #ff3e79;
      border-radius: 50%;
      margin-top: 16px;
      margin-left: 24px;
      img {
        vertical-align: middle;
      }
    }
    .menu-call__heading {
      color: rgb(27, 28, 33);
      font-family: TT Lakes;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.6px;
      text-align: left;
      padding-left: 16px;
      margin: 0;
      padding-top: 40px;
      padding-bottom: 24px;
      &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 40px;
        left: 0;
        background-color: #41f6d7;
        border-radius: 10px;
        transform: translateY(-8px);
      }
    }
    .menu-call__form {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      margin-right: 16px;
      .input-menu-call {
        width: 288px;
        height: 48px;
        margin-bottom: 16px;
        padding: 12px 0 12px 16px;
        border-radius: 10px;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
        opacity: 0.7;
      }
      .textarea-menu-call {
        border: 1px solid #eaeaea;
        box-sizing: border-box;
        padding: 12px 0 12px 16px;
        opacity: 0.7;
        resize: none;
        border-radius: 10px;
      }
      .text-menu-call {
        font-family: TT Lakes;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
        span {
          color: #ff3e79;
        }
      }
      .btn-menu-call-post {
        cursor: pointer;
        color: white;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #ff3e79;
        border-radius: 20px;
        width: 136px;
        height: 32px;
        text-align: start;
        padding-left: 16px;
        transform: translateX(152px);
        img {
          margin-left: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  body {
    .menu-call {
      background-color: white;
      width: 320px;
      height: 100vh;
      z-index: 2000;
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      border-left: 1px solid turquoise;
      .btn-menu-call-close {
        cursor: pointer;
        margin: 0;
        position: absolute;
        transform: translateX(-58px) translateY(32px);
        img {
          vertical-align: middle;
        }
      }
      .menu-call__heading {
        color: rgb(27, 28, 33);
        font-family: TT Lakes;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
        text-align: left;
        padding-left: 16px;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 24px;
        &::before {
          content: '';
          position: absolute;
          width: 4px;
          height: 40px;
          left: 0;
          background-color: #41f6d7;
          border-radius: 10px;
          transform: translateY(-8px);
        }
      }
      .menu-call__form {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        .input-menu-call {
          width: 288px;
          height: 48px;
          margin-bottom: 16px;
          padding: 12px 0 12px 16px;
          border-radius: 10px;
          border: 1px solid #eaeaea;
          box-sizing: border-box;
          opacity: 0.7;
        }
        .textarea-menu-call {
          border: 1px solid #eaeaea;
          box-sizing: border-box;
          padding: 12px 0 12px 16px;
          opacity: 0.7;
          resize: none;
          border-radius: 10px;
        }
        .text-menu-call {
          font-family: TT Lakes;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
          span {
            color: #ff3e79;
          }
        }
        .btn-menu-call-post {
          cursor: pointer;
          color: white;
          width: 40px;
          height: 40px;
          border: none;
          background-color: #ff3e79;
          border-radius: 20px;
          width: 136px;
          height: 32px;
          text-align: start;
          padding-left: 16px;
          transform: translateX(152px);
          img {
            margin-left: 12px;
          }
        }
      }
    }
  }
}
