body {
  .container {
    .services {
      .services__sale-hidden {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    .container {
      .services {
        .services__sale-hidden {
          display: block;
          border-top: 1px solid turquoise;
          background-color: #f8f8f8;
          .services__sale-hidden__heading {
            margin: 0;
            padding: 16px;
            color: rgb(126, 126, 130);
            font-family: TT Lakes;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-align: left;
            text-transform: uppercase;
            background: linear-gradient(
              90deg,
              rgb(248, 248, 248) 1.386%,
              rgb(255, 255, 255) 100%
            );
          }
          .services__sale-hidden__roster {
            padding: 31px 24px 46px;
            .services__sale-hidden__roster-top {
              display: flex;
              .text-sale-hidden {
                margin: 0;
                padding-left: 16px;
                padding-bottom: 16px;
                color: rgb(126, 126, 130);
                font-family: TT Lakes;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0px;
                &:nth-child(1) {
                  padding-right: 230px;
                }
                &:nth-child(2) {
                  padding-right: 44px;
                }
              }
            }
            .services__sale-hidden__roster-middle {
              background-color: white;
              border-radius: 10px;
              .services__sale-hidden__roster__first {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 284px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 22px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 50px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                  img {
                    margin-left: 12px;
                  }
                }
              }
              .services__sale-hidden__roster__second {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 259px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 44px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 20px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                  img {
                    margin-left: 12px;
                  }
                }
              }
              .services__sale-hidden__roster__therd {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 124px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 44px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 20px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                  img {
                    margin-left: 12px;
                  }
                }
              }
              .services__sale-hidden__roster__fourth {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 24px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 44px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 20px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                  img {
                    margin-left: 12px;
                  }
                }
              }
              .services__sale-hidden__roster__five {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 124px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 44px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 20px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                  img {
                    margin-left: 12px;
                  }
                }
              }
            }
          }
          .services__sale-hidden__footer {
            .text-sale-hidden-footer {
              padding-left: 24px;
              width: 420px;
              color: rgb(27, 28, 33);
              font-family: TT Lakes;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: 0.2px;
              text-align: left;
            }
            .text-sale-hidden-footer-second {
              cursor: pointer;
              padding-left: 24px;
              color: rgb(27, 28, 33);
              font-family: TT Lakes;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: -0.2px;
              text-align: left;
              img {
                padding-left: 8px;
                transform: translateY(1px);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  body {
    .container {
      .services {
        .services__sale-hidden {
          display: block;
          border-top: 1px solid turquoise;
          background-color: #f8f8f8;
          .services__sale-hidden__heading {
            margin: 0;
            padding: 16px;
            color: rgb(126, 126, 130);
            font-family: TT Lakes;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-align: left;
            text-transform: uppercase;
            background: linear-gradient(
              90deg,
              rgb(248, 248, 248) 1.386%,
              rgb(255, 255, 255) 100%
            );
          }
          .services__sale-hidden__roster {
            padding: 31px 24px 46px;
            .services__sale-hidden__roster-top {
              display: flex;
              .text-sale-hidden {
                margin: 0;
                padding-left: 16px;
                padding-bottom: 16px;
                color: rgb(126, 126, 130);
                font-family: TT Lakes;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0px;
                &:nth-child(1) {
                  padding-right: 328px;
                }
                &:nth-child(2) {
                  padding-right: 178px;
                }
              }
            }
            .services__sale-hidden__roster-middle {
              background-color: white;
              border-radius: 10px;
              .services__sale-hidden__roster__first {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 382px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 153px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 230px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                }
              }
              .services__sale-hidden__roster__second {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 357px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 175px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 198px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                }
              }
              .services__sale-hidden__roster__therd {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 222px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 175px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 198px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                }
              }
              .services__sale-hidden__roster__fourth {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 122px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 175px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 198px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                }
              }
              .services__sale-hidden__roster__five {
                margin-left: 16px;
                margin-right: 16px;
                display: flex;
                align-items: center;
                .text-sale-hidden {
                  margin: 24px 0;
                  color: rgb(27, 28, 33);
                  font-family: TT Lakes;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 18px;
                  letter-spacing: 0.2px;
                  &:nth-child(1) {
                    padding-right: 222px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(2) {
                    padding-right: 175px;
                    text-wrap: nowrap;
                  }
                  &:nth-child(3) {
                    padding-right: 198px;
                    text-wrap: nowrap;
                  }
                }
                .btn-sale-hidden {
                  cursor: pointer;
                  background-color: rgb(255, 62, 121);
                  border: none;
                  border-radius: 20px;
                  color: rgb(255, 255, 255);
                  font-family: TT Lakes;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.15px;
                  text-transform: uppercase;
                  width: 120px;
                  height: 32px;
                  text-align: start;
                  padding: 0;
                  padding-left: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
