body {
  .container {
    .services {
      .services__texnology {
        border-top: 1px solid turquoise;
        background-color: #f8f8f8;
        .services__texnology__heading {
          margin: 0;
          padding: 16px;
          color: rgb(126, 126, 130);
          font-family: TT Lakes;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.2px;
          text-align: left;
          text-transform: uppercase;
          background: linear-gradient(
            90deg,
            rgb(248, 248, 248) 1.386%,
            rgb(255, 255, 255) 100%
          );
        }
        .services__texnology__list {
          .services__texnology__roster {
            margin: 0;
            list-style: none;
            padding-left: 16px;
            display: flex;
            gap: 16px;
            padding-top: 16px;
            padding-bottom: 52px;
            .services__texnology__item {
              display: flex;
              justify-content: space-between;
              border: 1px solid #eaeaea;
              border-radius: 10px;
              box-sizing: border-box;
              max-width: 240px;
              height: 160px;
              background-color: white;
              .text-texnology {
                margin: 0;
                padding-left: 16px;
                padding-top: 16px;
              }
              .btn-texnology {
                cursor: pointer;
                padding: 0;
                margin: 16px;
                width: 40px;
                height: 40px;
                transform: translateY(86px);
                border-radius: 50%;
                border: 2px solid #ff3e79;
                background-color: white;
                img {
                  padding: 0;
                }
              }
            }
          }
          .btn-texnology-hidden {
            cursor: pointer;
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    .container {
      .services {
        .services__texnology {
          .services__texnology__list {
            padding-bottom: 32px;
            .services__texnology__roster {
              padding-left: 24px;
              padding-bottom: 24px;
              flex-wrap: wrap;
              transform: translateX(0) !important;
              .services__texnology__item {
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                  display: none;
                }
              }
            }
            .btn-texnology-hidden {
              display: block;
              padding: 0;
              margin-left: 56px;
              border: none;
              background-color: inherit;
              color: rgb(27, 28, 33);
              font-family: TT Lakes;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              &::before {
                content: '';
                background-image: url(../img/imgservices/8.svg);
                background-repeat: no-repeat;
                position: absolute;
                width: 10px;
                height: 10px;
                transform: translateX(-22px) translateY(7px);
              }
            }
          }
        }
      }
    }
  }
  .swiper-pagination-bullet {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  body {
    .container {
      .services {
        .services__texnology {
          .services__texnology__list {
            padding-bottom: 50px;
            .services__texnology__roster {
              padding-left: 32px;
              padding-bottom: 24px;
              gap: 16px;
              flex-wrap: wrap;
              transform: translateX(0) !important;
              .services__texnology__item {
                margin-right: 16px;
                &:nth-child(4) {
                  display: flex;
                }
              }
            }
            .btn-texnology-hidden {
              display: block;
              padding: 0;
              margin-left: 66px;
              border: none;
              background-color: inherit;
              color: rgb(27, 28, 33);
              font-family: TT Lakes;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              &::before {
                content: '';
                background-image: url(../img/imgservices/8.svg);
                background-repeat: no-repeat;
                position: absolute;
                width: 10px;
                height: 10px;
                transform: translateX(-22px) translateY(7px);
              }
            }
          }
        }
      }
    }
  }
}
