body {
  .container {
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 320px;
      height: 100vh;
      background-color: white;
      transform: translateX(-400px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .menu__top-middle {
        .menu__top {
          align-items: center;
          padding: 16px;
          display: flex;
          justify-content: space-between;
          .menu__top__left {
            align-items: inherit;
            display: flex;
            gap: 16px;
            .btn-menu {
              cursor: pointer;
              padding: 0;
              width: 40px;
              height: 40px;
              border: none;
              border-radius: 50%;
              background-color: #ff3e79;
              .btn-menu-img {
                vertical-align: middle;
              }
            }
            .link-menu {
              width: 100px;
              height: 50px;
              .link-menu-img {
                width: 100px;
                height: 50px;
              }
            }
          }
          .menu__top__right {
            .btn-menu {
              cursor: pointer;
              padding: 0;
              width: 40px;
              height: 40px;
              border: none;
              border-radius: 50%;
              background-color: #ff3e79;
              .btn-menu-img {
                vertical-align: middle;
              }
            }
          }
        }
        .menu__middle {
          .menu__middle__list {
            padding-top: 16px;
            padding-left: 16px;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 24px;
            .menu__middle__item {
              .menu__middle__link {
                color: black;
                text-decoration: none;
                font-weight: 500;
                &:hover {
                  opacity: 0.5;
                  &::before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 32px;
                    border-radius: 10px;
                    background-color: turquoise;
                    transform: translateX(-16px) translateY(-5px);
                  }
                }
              }
            }
          }
        }
      }
      .menu__bottom {
        padding-left: 16px;
        padding-bottom: 32px;
        .menu__bottom__phone-message-people {
          display: flex;
          gap: 16px;
          .btn-menu {
            cursor: pointer;
            padding: 0;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 50%;
            background-color: #ff3e79;
            .btn-menu-img {
              vertical-align: middle;
            }
          }
        }
        .menu__bottom__maill {
          padding-top: 16px;
          .btn-menu-maill {
            cursor: pointer;
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: white;
          }
        }
        .menu__bottom__number {
          padding-top: 12px;
          .btn-menu-number {
            cursor: pointer;
            font-family: inherit;
            font-size: 24px;
            font-weight: 700;
            border: none;
            background-color: white;
          }
        }
        .menu__bottom__language {
          padding-top: 8px;
          .btn-menu-language {
            cursor: pointer;
            font-family: inherit;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: white;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
